body{
 
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    min-height: 100vh;

}

.mainBox{
    min-height: 100vh;
}
.subBoxLeft{
    background-image: url("../img/Log.svg");

    background-repeat: no-repeat;
    background-size: 100%;

}