body{
    background-color:#333745;
    color:rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    min-height: 100vh;
}

.headerMain{
    padding: 20px;
    background-color: #EA2E49;
}

.brand{
    padding: 5px;
}

.brand h1{
    margin: 0%;
    font-weight: 900;
}
.posterHead{
    padding: 5px;
}

.content{
    padding: 10px;
    background-color: #F6F792;
}

.footer{

    background-color: #EA2E49;
    padding: 2px;
}



.poster{
    padding: 10px;
    background-color: #77C4D3;
}

.postHead{
    font-weight: 900;
}

.postcontant span span{
    color: #DC3522;
}
